body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 1440px;
    height: 3300px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.webstudio-logo-header {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 156px;
    margin-right: 76px;
}

.studio-header {
    color: #2E2F42;
}

.nav-list-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list-link:hover, 
.nav-list-link:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}


.contacts-link {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.contacts-link:hover, 
.contacts-link:focus {
    color: #404bbf;
}

.dark-bg {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.mainpage-title {
    color:#FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 636px;
    margin-top: 0;
    margin-right: 635px;
    width: 169px;
    height: 56px;
}


.button:hover,
.button:focus  {
    background-color: #404bbf;
}

.features-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.light-bg {
    background-color: #F4F4FD;
}

.our-team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-list-items {
    background-color: #FFFFFF;
}

.our-team-list-title {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-team-list-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-portfolio-list-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.our-portfolio-list-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-page {
    background-color: #2E2F42;
}

.studio-footer {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.container-header {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid #E7E9FC;
    background: #FFFFFF;
}

.nav-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.nav-list:last-child {
    margin-right: 332px;
}

.address-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.mainpage-container {
    margin-left: 472px;
    margin-bottom: 48px;
    margin-right: 472px;
    padding-top: 188px;
    width: 496px;
}

.container {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 156px;
    margin-right: 156px;
}

.features-list {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 24px;
}

.features-list-items {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-team-list {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 24px;
}

.our-team-list-items {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.our-team-list-items-content {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
}

.our-portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.our-portfolio-list-items {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid #E7E9FC;
    background-color: #FFFFFF;
}

.our-portfolio-list-items-content {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.webstudio-logo-footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
    margin-left: 156px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 264px;
}
